

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"General Sans";
}

a{
    text-decoration: none;
    border-top: 0px solid ;
}
.cursor{
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    z-index: 99999;
    overflow: .7;
}
#main{
    width: 100%;
    background-color: black;
}
.hero_sec{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
.header{
    width: 100%;
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
}
.header a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.main_heading{
    margin-top: 60px;
    width: fit-content;
    margin-left: 3vw;
}
.main_heading h1{
    opacity: .7;
    font-size: 7vw;
    line-height: 1;
    font-family: 'General Sans medium';
    margin-left: 30px;

}
.blocktext{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.blocktext h5{
    text-align: right;
}
.bounding{
    width: fit-content;
    /* background-color: rgba(255, 36, 36, 0.78); */
    overflow: hidden;
}
.boundingele{
    transform: translateY(100%);
}
#secondH1{
    margin-left: 230px;    
}
.blocktext h5{
    text-align: end;
}
.main_heading h5{
    text-align: right;
    font-size: 16px;
}
.sub_heading{
    text-transform: uppercase;
    text-align: right;  
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;

}
.sub_heading h5{
    font-size: 1vw;
    margin-top: .5vw;
    margin-right: 1vw;
}
.sub_heading{
    text-transform: uppercase;
}
.hero_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 2%;
    padding: 0 2vw;
    width: 100%;
 
}
.hero_footer a{
    text-decoration: none;
    color: white;
}
.iconSet{
    display: flex;
    gap: 8px;
}
.circle{
    padding: .5rem;
    background: #4a4a4a5f;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECOND SECTION  */
#second_sec{
    background-color: black;
    height: fit-content;
    width: 100%;
    padding-top: 150px;
    padding: 4vw ;
}
.elem{
    position: relative;
    width: 100%;
    border-top: 1px solid #888;
    padding: 3.5vw 3vw;
    display: flex;
     align-items: center;
      justify-content: space-between;
}
.elem img {
    width: 22vw;
    position: absolute;
    z-index: 999;
    opacity: 0; 
    border-radius: 10px;
    pointer-events: none; 
    transform: translate(-50%,-50%);
}

.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
    color: white;
}
.elem h5{
    color: white;
}


/* ABOUT SECTION  */

#about_sec{
    width: 100%;
    background-color: black;
    align-items: center;
    /* justify-content: space-between; */
    gap: 50px;
    padding: 10vw 5vw;
    padding-left: 40vw;
    display: flex;
    flex-direction: flex-end;
    padding-top: 0;
}
.about_img{
    width: 15vw;
    height: 18vw;
    border-radius: 50%;
    object-fit: cover;
    /* background-image: url(./images/profile_photo.jpg); */
}

.profile_photo{
    color: white;
    flex: 1;
     width: 25rem

}
.about_text{
    color: white;
    width: 25vw;
}
.about_text h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}
.about_text p{
    line-height:1.7;

}
#profile_photo{
    width: 12vw;
    border-radius: 50%;
    margin: 0 2rem ;
}

/* FOOTER SECTION */

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: black;
    color: white;
}
.footer_right{
    display: flex;
    gap: 20px;
}
.footer_left a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 500;
    
}

@media (max-width:900px){
    .cursor{
        display: none;
    }
    .hero_sec {
        height: 68vh;
    }   
    .about_text{
        width: 100%;
    }
}


@media (max-width:460px){
    .hero_sec{
        height: 100vh;
    }
    .header{
        padding:1rem;
    }
    .main_heading{
        margin-top: 50px;
    }
    .main_heading h1{
        font-size: 12vw;
        margin: 0;
    }
    .main_heading h5{
        font-size: 12px;
    }
    .sub_heading h5{
        font-size: 3vw;
    }
    #secondH1{
        margin-left: 16vw;
    }
    .hero_footer a{
        font-size:0.9rem;
    }
    #second_sec{
        margin-top: 2rem;
    }
    .elem h1 {
        font-size: 8.6vw
    }
    #about_sec{
        display: grid;
        padding: 0;
        width: 100vw;
        gap: 20px;
        margin-top: 5vh;
    }
    .about_img{
        flex: 1;
        width: 10rem;
        height: 10rem;
        object-fit: contain;
    }
    #profile_photo{
        width: 40vw;
        border-radius: 50%;
        margin: 0 2rem ;
    }
    .about_text {
        padding: 1rem;
        color: white;
        width:100%;
    }
    #footer{
        flex-wrap: wrap;
        padding: 1rem;
    }
    .footer_right{
        padding-bottom: 0.5rem !important;
        border-bottom: 1px solid #ffff;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
    }
    .footer_left{
        padding: 1rem
    }

}
@media (max-width:360px){
    .hero_sec{
        height: 95vh;
    }
    .footer_left a{
        padding: 0 7px;
    }
}